sudo: false
language: c
addons:
  apt:
    packages:
    - libgmp-dev
before_install:
- mkdir -p ~/.local/bin
- export PATH=$HOME/.local/bin:$PATH
- travis_retry curl -L https://www.stackage.org/stack/linux-x86_64 | tar xz --wildcards
  --strip-components=1 -C ~/.local/bin '*/stack'
script:
- stack --no-terminal --install-ghc build --fast --only-dependencies
- stack exec milkshake -- sitemap.yaml -c
cache:
  directories:
  - $HOME/.ghc
  - $HOME/.cabal
  - $HOME/.stack
deploy:
  provider: s3
  access_key_id: AKIAJOPJPECIU2VKXQIA
  secret_access_key:
    secure: Yq1GBXLYXgSulUX+2wAdxenhvWY7O1VmN0GdP2LvTdWlaH+nPwCNvdim25jg+dpYLwqPZKrLF9MssDdkyuPZ4Zk6ZzCg6fWUuyvn2X6vDgczzHyRTNb6sxdP6SIZDwwMrMtkzAEpe2oZxlYG+eUTd497cW8UGdwgc/bZm0nfj+ncvHYyz8SKnmWSS4EZ76NLybpCPCde3brte1Ak6JNVKqB16eY3nMLdSs/lODUUR77kZC9uGAK5pJHP5RF1HHAzvloi57MSfmC7JMwlrS1ARkE+xnCXLYmt1UYvyzwu1QjOxPE64ANNLZnh1zuoi+7trFwoRquhFwjijTHELrMxfQrgCglMaCv1LGMTlQWj0fhnYhAPcdUBRMAdLZayU0Anip3qnu6KSEbqbM0LDOw1hb1oTQu3ebUczx72oLRA9IMY9LLb9ubMudjkOuld1FbOs3bOwlyg98J4jQMprT0cHK6/yyIcvDXAt0sQJrkhzii716g1lPiAHc/QDzk6FFwzb/ptr0Q32lCWHsZzNH1vjZqeIexOjmSz6zawB4Lk4q0RkKfyrdUWOEaQo8Ti2SW6hfcRF/nWHsmUgW0+yWY1XrVM4J7bzPRGsE54zOlF/Ye5jRZhqStW3qcVbkNn/ENZIglL9fxTFP8d7ZEBukSnzjaPFpAr0qTYx+IWlDEc/m8=
  bucket: zyghost.com
  local-dir: root
  acl: public_read
  region: us-west-1
  skip_cleanup: true
  on:
    repo: schell/zyghost-com
